body
{
    background-color:blueviolet;
}

body.recipebody
{
    color:aqua;
}

h1.indexpage
{
    color:darkturquoise;
    font-size: 40px;
    font-weight: 800;
    font-family: fantasy, sans-serif;
    text-align: center;
}

h1.recipe
{
    color: cyan;
    text-align: center;
}

.indexlink
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color:cadetblue;
}

.indexlistdiv
{
    background-color: rgba(0, 255, 255, 0.034);
    text-align: center;
}

.indexlist
{
    display: inline-block;
    text-align: left;
}

.picture
{
    text-align: center;
}


.recipecontent
{
    text-align: center;
}

.recipeingredients
{
    display: inline-block;
    text-align: left;
}

.recipesteps
{
    display: inline-block;
    text-align: left;
}
